@font-face {
    font-family: Roboto;
    src: url("../assets/fonts/Roboto-Regular.ttf");
}


* {
    font-family: Roboto, sans-serif;
    color: #333333;
}

input:focus {
    outline: none;
}

.wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
}

/*---------------------jokes-------------------*/

.find-jokes {
    box-sizing: border-box;
    padding: 40px 140px;
    width: 100%;
    max-width: 960px;
    min-height:100vh
}

.find-jokes__header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 78px 0;
}

.find-jokes__main-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #333333;
    margin: 0;
}

.fav-toggler {
    display: none;
}


.find-jokes__title {
    margin: 0;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
}

.find-jokes__subtitle {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 44px;
}

.radio-main {
    margin-bottom: 40px;
}

.radio-main__item {
    margin: 10px 0;
}

input[type=radio] {
    display: none;
}

.radio-main__item label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding: 0 35px;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    user-select: none;
}
.radio-main__item label:before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    bottom: 3px;
    border: 2px solid #ABABAB;
    border-radius: 50%;
}

.radio-main__item input[type=radio]:checked + label:before {
    border: 2px solid #333333;
    background: url("../assets/icons/dot.svg") center no-repeat;
}

.radio-main__categories {
    margin: 13px 0;
    display: flex;
    flex-wrap: wrap;
}

.categories__item {
    margin: 10px 10px 10px 0;
}

.categories__item label {
    box-sizing: border-box;
    padding: 6px 15px;

    border: 2px solid #F8F8F8;
    border-radius: 6px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ABABAB;
    cursor: pointer;
    user-select: none;
}

.categories__item input[type=radio]:checked + label {
    background: #F8F8F8;
    color: #333333;
}

.radio-main__query {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 20px 0;
    padding: 10px 15px;
    border: 2px solid #333333;
    border-radius: 10px;
    color: #333333;
    font-size: 16px;
    line-height: 22px;
}

.radio-main__query::placeholder {
    color: #ABABAB;
}

.radio-main__btn {
    box-sizing: border-box;
    background: linear-gradient(92.01deg, #8EA7FF 0%, #7291FF 100%);
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 10px 40px;
    cursor: pointer;
}

.joke-card {
    box-sizing: border-box;
    width: 100%;
    padding: 67px 40px 40px 100px;
    margin-bottom: 20px;
    background: #F8F8F8;
    border-radius: 20px;
    position: relative;
}


.fa-heart {
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 20px;
    color: #FF6767;
    cursor: pointer;
}

.joke-content__img {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #FFFFFF;
    /* padding: 0 10px; */
    left: 40px;
    top: 67px;
    position: absolute;
}

.joke-content__img img {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -48%);
}

.joke-content__link {
    font-weight: 500;
    font-size: 10px;
    color: #ABABAB;
}

.joke-content__link a {
    color: #8EA7FF;
}

.joke-content__link i {
    color: #8EA7FF;
}


.joke-card__footer {
    display: flex;
    margin-top: 23px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.joke-card__updated {
    margin: 0 10px 10px 0;
    font-size: 10px;
    color: #ABABAB;
    font-weight: 100;
}

.joke-card__updated span {
    font-weight: bold;
    color: inherit;
}

.joke-card__category {
    margin: 0;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: #FFFFFF;
    border-radius: 6px;
    padding: 6px 20px;
}

/*---------------------burger--------------------*/

.fav-toggler {
    display: none;
    z-index: 11;
}

.fav-toggler__icon {
    box-sizing: border-box;
    width: 28px;
    height: 28px;
    display: inline-block;
    flex-direction: column;
    background: #333333;
    border-radius: 50%;
    position: relative;
}

.fav-toggler__icon-content {
    z-index: 12;
    position: absolute;
    width: 14px;
    height: 2px;
    background: #333333;
    border-radius: 1px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
}

.fav-toggler__icon-content:before,
.fav-toggler__icon-content:after {
    content: '';
    position: absolute;
    width: 14px;
    height: 2px;
    background: #FFFFFF;
    border-radius: 1px;
    transition: 0.3s;
}

.fav-toggler__icon-content:before {
    top: -3px;
}

.fav-toggler__icon-content:after {
    top: 3px;
}

.burger-active .fav-toggler__icon-content:before {
    top: 0;
    transform: rotate(45deg);
}

.burger-active .fav-toggler__icon-content:after {
    top: 0;
    transform: rotate(-45deg);
}

.fav-toggler__text {
    font-size: 20px;
    line-height: 28px;
    color: #ABABAB;
    margin-left: 10px;
}


/*---------------------favourite-------------------*/

.favourite {
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
    max-width: 480px;
    background-color: #F8F8F8;
    min-height: 100%;
}

.favourite__header {
    margin: 0 0 20px 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #ABABAB;
}

.joke-card-fav {
    background: #FFFFFF;
    max-width: 400px;
    border: 1px solid #F8F8F8;
    box-sizing: border-box;
    padding: 47px 20px 20px 80px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.joke-heart-fav {
    top: 20px;
    right: 20px;
}

.joke-message-fav {
    top: 47px;
    left: 20px;
    background: #F8F8F8;
}

.joke-content__text-fav {
    font-size: 14px;
    left: 20px;
}


/*---------------------media-------------------*/

@media screen and (max-width: 1440px) {
    .find-jokes {
        padding-left: 9.7%;
        padding-right: 9.7%;
    }
}

@media screen and (max-width: 834px) {

    .find-jokes {
        padding: 40px;
    }

    .fav-toggler {
        display: flex;
        align-items: center;
    }

    .favourite {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        box-shadow: -356px 0 rgba(0, 0, 0, 0.3);
        transition: 0.3s;
    }

    .favourite__header {
        visibility: hidden;
    }

}

@media screen and (max-width: 380px) {
    .find-jokes {
        padding: 20px;
    }

    .fav-toggler {
        display: flex;
        align-items: center;
    }

    .favourite {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        box-shadow: -356px 0 rgba(0, 0, 0, 0.3);
        transition: 0.3s;
        padding: 20px;
    }

    .favourite__header {
        visibility: hidden;
    }
}

/*---------------------none-------------------*/

.display-none {
    display: none;
}

.active {
    display: block;
}
